* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #BABABA;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}