/* 
 * Accent: #A907B8
 */

footer {
  /* Dom */
  height: 100px;
  padding: 20px;

  /* Colors */
  background-color: #110414;
  border-top: 1px solid #A907B8;
  color: #BABABA;
}

#social {
  /* DOM */
  display: flex;
  align-items: center;
  position: absolute;
  right: 100px;
  height: 100px;

  /* Colors */
  border-left: 1px solid #A907B8;
}

#social > div {
  margin-left: 10px;
}

#social > div p {
  margin-bottom: 0;
}